body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.menu-bar {
    background-color: hsl(0, 0%, 20%);
    padding: 10px 0;
}

.menu-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline-block;
    margin: 0 15px;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-list li a:hover {
    color: #eaeaea;
}

.contact-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
}
/* stylng forms */
form {
    display: flgit inex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
