

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/* Styling Menu Bar */
.menu-bar {
    background-color: #333;
    padding: 10px 0;
}

.menu-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline-block;
    margin: 0 15px;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-list li a:hover {
    color: #eaeaea;
}

p{
    font-size: 25px;

}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border-top: 2px solid black;
   
}

.heading {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#slogan {
    font-size: 1.2em;
    color: #777;
}

.intro {
    max-width: 800px;
    margin: 30px auto;
    line-height: 1.6;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    background-color: black;

}

.image-gallery img {
    max-width: 30%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: cadetblue;
  color: white;
}

